:root {
    --primary-blue: #007BFF;
    --primary-blue-dark: #0056b3;
    --primary-white: #f4f4f4;
    --text-dark: #333;
    --text-light: #666;
    --background-light: #ffffff;
    --background-gray: #f9f9f9;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-light);
    color: var(--text-dark);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    padding: 60px 0;
}

.header-section {
    background-color: var(--primary-blue);
    color: var(--primary-white);
    text-align: center;
    padding: 80px 0;
}

.section-title {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.section-subtitle {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: var(--primary-white);
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.highlights-section {
    background-color: var(--background-gray);
    color: var(--text-dark);
}

.footer {
    background-color: var(--primary-blue-dark);
    color: var(--primary-white);
    text-align: center;
    padding: 20px 0;
}

.navbar {
    background-color: var(--primary-blue-dark);
    color: var(--primary-white);
    padding: 10px 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    gap: 15px;
}

.navbar-links a {
    color: var(--primary-white);
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: var(--primary-blue);
}

.navbar-toggle {
    display: none; /* Esconde o botão para desktop */
}

@media (max-width: 768px) {
    .navbar-links {
        display: none; /* Esconde links por padrão */
        flex-direction: column;
        gap: 10px;
    }

    .navbar-toggle {
        display: block; /* Mostra o botão para dispositivos móveis */
    }
}
